*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: auto;
    background: #222;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i{
    position: absolute;
    width: 4px;
    height: 4px;
    background: #40ffcf;
    border-radius: 100%;
    animation: animate 2s linear forwards;

    /* افکت نئون */
    box-shadow: 0 0 10px #40ffcf,
              0 0 20px #40ffcf,
              0 0 40px #00ffaa,
              0 0 60px #00ffaa;
  filter: blur(0.5px);
}

@keyframes animate {
    0%{
        opacity: 1;
        transform: translate(0,0);
    }
    100%{
        opacity: 0;
        transform: translate(var(--x), var(--y));
    }
}

.title{
    color: #00ffaa;
    width:100%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    overflow: clip;
    animation: titleAnimate both;
    animation-timeline: view();
}

@keyframes titleAnimate {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 100%;
        transform: translate(0);
    }
}

.cards{
    color: #030303;
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 80px;
    overflow:clip;
}

.card{
    background: #333;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 2rem;
    box-shadow: 0 0 10px #7dff03,
                0 0 20px #7dff03,
                0 0 40px #7dff03,
                0 0 60px #7dff03;
    filter: blur(0.5px);
    animation: eatchCardAnimation both;
    animation-timeline: view(60% 30%);

}

@keyframes eatchCardAnimation {
     0%{
        opacity: 0;
        transform: translateX(300px);
    }
    80%{
        opacity: 1;
        transform: translateX(0);
        scale: 1;
    }
    100%{
        opacity: 0;
        scale: 2;
    }
}

h1{
    color: #222;
    text-shadow: 0 0 10px #7dff03,
                0 0 20px #7dff03,
                0 0 40px #7dff03,
                0 0 60px #7dff03;
    filter: blur(0.5px);
}

.text{
    color: #fff;
    width: 80%;
    height: 800px;
    font-size: 100px;
    margin-top: 300px;
    height: 560px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px #7dff03,
                0 0 20px #7dff03,
                0 0 40px #7dff03,
                0 0 60px #7dff03;
    filter: blur(0.5px);
    overflow: clip;
}

.lorem{
    animation: textAnimate;
    animation-timeline: view(70% 5%);
}

@keyframes textAnimate{
    0%{
        filter: none;
    }
    40%, 60%{
        filter: blur(20px);
    }
    100%{
        filter: none;
    }
}
